# Dictionaries

In [96]:
#key:value paris
#Key >>> Value
#ID >> 96411234
#Age >>> 22

## Create a Dictionary

In [1]:
my_dict = {}
my_dict

{}

In [2]:
type(my_dict)

dict

In [3]:
dict1 = {"brand" : "pride", "model" : "saypa" , "year" : 1384}
dict1

{'brand': 'pride', 'model': 'saypa', 'year': 1384}

In [80]:
# Ali
# 22
# Male
# 9121234567

In [81]:
dict2 = {"name": "Ali", "age": 22, "gender": "Male", "tel": 9121234567 }
dict2

{'name': 'Ali', 'age': 22, 'gender': 'Male', 'tel': 9121234567}

## Indexing

In [5]:
dict2['age']

22

In [6]:
dict2['tel']

9121234567

In [7]:
mylist = [{'Name':'Ali', 'Age':22} , {'Name':'Aryan', 'Age':25}]

In [9]:
mylist[1]['Name']

'Aryan'

In [10]:
mylist[1]['Age']

25

In [11]:
dict2

{'name': 'Ali', 'age': 22, 'gender': 'Male', 'tel': 9121234567}

### Adding a Key

In [82]:
dict2['last_name'] = 'Alavi'
dict2

{'name': 'Ali',
 'age': 22,
 'gender': 'Male',
 'tel': 9121234567,
 'last_name': 'Alavi'}

### Examples for Indexing

##### Example 1

In [13]:
d = {'key1':[{'key2':['hi',['AI land']]}]}

In [16]:
d['key1']

[{'key2': ['hi', ['AI land']]}]

In [17]:
d['key1'][0]

{'key2': ['hi', ['AI land']]}

In [18]:
d['key1'][0]['key2']

['hi', ['AI land']]

In [19]:
d['key1'][0]['key2'][1]

['AI land']

##### Example 2

In [21]:
d2 = {'k1':[1,2,{'k2':['python',{'programming':[1,2,['hello']]}]}]}

In [22]:
d2['k1']

[1, 2, {'k2': ['python', {'programming': [1, 2, ['hello']]}]}]

In [23]:
d2['k1'][-1]

{'k2': ['python', {'programming': [1, 2, ['hello']]}]}

In [24]:
d2['k1'][-1]['k2']

['python', {'programming': [1, 2, ['hello']]}]

In [25]:
d2['k1'][-1]['k2'][1]

{'programming': [1, 2, ['hello']]}

In [26]:
d2['k1'][-1]['k2'][1]['programming']

[1, 2, ['hello']]

In [27]:
d2['k1'][-1]['k2'][1]['programming'][-1]

['hello']

## Methods

### Clear

In [28]:
dict2 = {'Name':'John' , 'Age':22, 'Gender':'Male' , 'Tel': 91087893796}

In [29]:
dict2.clear()

In [30]:
dict2

{}

In [31]:
dict3 = {'Name':'John' , 'Age':22, 'Gender':'Male' , 'Tel': 91087893796, 'salary': 430000}

### Pop

In [32]:
dict3.pop()

TypeError: pop expected at least 1 argument, got 0

In [33]:
dict3.pop('salary')

430000

In [34]:
dict3

{'Name': 'John', 'Age': 22, 'Gender': 'Male', 'Tel': 91087893796}

### del

In [35]:
del dict3['Tel']

In [36]:
dict3

{'Name': 'John', 'Age': 22, 'Gender': 'Male'}

### Keys

In [37]:
dict3.keys()

dict_keys(['Name', 'Age', 'Gender'])

### Values

In [39]:
dict3.values()

dict_values(['John', 22, 'Male'])

### Examples

#### Example 1

In [40]:
my_dict = {"class": {"student": {"name": "John", "marks": {"physics": 19,"history": 10}}}} #output: 10?

In [41]:
my_dict['class']

{'student': {'name': 'John', 'marks': {'physics': 19, 'history': 10}}}

In [42]:
my_dict['class']['student']

{'name': 'John', 'marks': {'physics': 19, 'history': 10}}

In [43]:
my_dict['class']['student']['marks']

{'physics': 19, 'history': 10}

In [44]:
my_dict['class']['student']['marks']['history']

10

#### Example 2

In [91]:
dict4 = {"name": "Ali", "age":25, "salary": 8000, "city": "Tehran"}

#output: {'name': 'Ali', 'age': 25, 'salary': 8000, 'location': 'Tehran'}

In [87]:
dict4

{'name': 'Ali', 'age': 25, 'salary': 8000, 'city': 'Tehran'}

In [88]:
dict4['location'] = dict4['city']
del dict4['city']

In [89]:
dict4

{'name': 'Ali', 'age': 25, 'salary': 8000, 'location': 'Tehran'}

In [92]:
dict4['location'] = dict4.pop('city')
dict4

{'name': 'Ali', 'age': 25, 'salary': 8000, 'location': 'Tehran'}

#### Example 3

In [63]:
dict5 = {
    'emp1': {'name': 'Ana', 'salary': 75000},
    'emp2': {'name': 'Ali', 'salary': 4000}
}
#output: {'emp1': {'name': 'Ana', 'salary': 75000},'emp2': {'name': 'Ali', 'salary': 5000}}

In [64]:
dict5['emp2']

{'name': 'Ali', 'salary': 4000}

In [66]:
dict5['emp2']['salary'] = 5000

In [67]:
dict5

{'emp1': {'name': 'Ana', 'salary': 75000},
 'emp2': {'name': 'Ali', 'salary': 5000}}

### Merging

In [68]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#output:{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#### First method

In [69]:
merged_dict = {**dict1, **dict2}

In [70]:
merged_dict

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#### Second method

In [73]:
dict3 = dict1.copy()
dict3.update(dict2)
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#### Third method

In [74]:
dict1.update(dict2)
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

### List

In [75]:
list(dict1)

['Ten', 'Twenty', 'Thirty', 'Fourty', 'Fifty']

### Sorted

In [76]:
sorted(dict1)

['Fifty', 'Fourty', 'Ten', 'Thirty', 'Twenty']

### items

In [79]:
dict1.items()

dict_items([('Ten', 10), ('Twenty', 20), ('Thirty', 30), ('Fourty', 40), ('Fifty', 50)])

Good Luck!