# Python Casting

To perform a type casting, we are going to use the following built-in functions

int(): convert any type variable to the integer type.

float(): convert any type variable to the float type.

complex(): convert any type variable to the complex type.

bool(): convert any type variable to the bool type.

str(): convert any type variable to the string type.

In [3]:
x = 10
y = 10.5
z = '3'

In [4]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [5]:
x = int(10)
y = int(10.5)
z = int( '3' )

In [6]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [7]:
print(22 + 55)

77

In [8]:
print(str(22) + str(55))

2255

In [9]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

In [10]:
int('1234')

1234

# List Comprehension

##### Keywords

In [ ]:
#in for

#### Example1

In [12]:
A = [1,2,3,4,5,6,7,8,9]

#output: B = [1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
B = [n**2 for n in A] 
B

[1, 4, 9, 16, 25, 36, 49, 64, 81]

#### Second method for Example1

In [14]:
[n** 2 for n in range(0,9)]

[0, 1, 4, 9, 16, 25, 36, 49, 64]

#### Example 2

In [15]:
[ n**3 for n in range(10)]

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

#### Syntax for List Comprehension

newList = [ expression(element) for element in oldList if condition ]

#### Example3

In [20]:
#Find all of the numbers from 1-50 that are divisible by 3 ?
three = [n for n in range(1,50) if n%3 == 0]
three

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

#### Example4

In [21]:
#create a new list called "newlist" out of the list "numbers",return only the positive numbers from the list, as integers.

numbers = [32.6, -201.4, 45.9, 66.3, -12.2, 41.2, 11.3]

In [22]:
positive = [adad for adad in numbers if adad > 0]
positive

[32.6, 45.9, 66.3, 41.2, 11.3]

In [23]:
integers = [int(adad) for adad in numbers if adad>0]
integers

[32, 45, 66, 41, 11]

#### Example5

In [25]:
string1 = 'hi welcome to python programming!'
# ['HI', 'WELCOME', 'TO', 'PYTHON', 'PROGRAMMING'] ?

In [26]:
string1.split()

['hi', 'welcome', 'to', 'python', 'programming!']

In [27]:
[word.upper() for word in string1.split()]

['HI', 'WELCOME', 'TO', 'PYTHON', 'PROGRAMMING!']

#### Example6

In [32]:
#Find all of the numbers from 1-100 that have a 3 in them

In [28]:
[n for n in range(1,100) if '3' in str(n)]

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93]

#### Example7

In [32]:
list1 = ["M", "na", "i", "AI"]
list2 = ["y", "me", "s", "Land"]

#output:['My', 'name', 'is', 'AI Land']

In [37]:
list(zip(list1,list2))

[('M', 'y'), ('na', 'me'), ('i', 's'), ('AI', 'Land')]

In [38]:
[i+j for i,j in zip(list1,list2) ]

['My', 'name', 'is', 'AILand']

#### Example8

In [40]:
list1 = ["Hello ", "Bye "]
list2 = ["Dear", "Sir"]

#output:['Hello Dear', 'Hello Sir', 'Bye Dear', 'Bye Sir']

In [41]:
[i+j for i in list1 for j in list2]

['Hello Dear', 'Hello Sir', 'Bye Dear', 'Bye Sir']

# Dictionary Comprehension

#### Example9

In [5]:
#{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729} ?

In [42]:
{n:n**3 for n in range(10)}

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

#### Example10

In [ ]:
#{'hi': 2, 'welcome': 7, 'to': 2, 'python': 6, 'programming!': 12} ?

In [44]:
string1 = 'hi welcome to python programming!'

In [45]:
{kalame:len(kalame) for kalame in string1.split()}

{'hi': 2, 'welcome': 7, 'to': 2, 'python': 6, 'programming!': 12}

#### Example11

In [47]:
list1 = ['salam',10,20,30,40.2, 80.8]
#output: {'salam': str, 10: int, 20: int, 30: int, 40.2: float, 80.8: float}

In [48]:
{n:type(n) for n in list1}

{'salam': str, 10: int, 20: int, 30: int, 40.2: float, 80.8: float}

#### Example12

In [50]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
#output:{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [52]:
{i:j for i,j in zip(keys,values)}

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

Wish you all the best!